.product-tile {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
    height: 600px;
    padding: 0 !important;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}

.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


.product-tile:hover{
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(171, 120, 24, 0.85);
}

.col-text{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    position: absolute !important;
    top: 70%;
}

.main-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-image img {
    position: absolute;
    width: 100%;
    height: 70%;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.main-image img:first-child {
    opacity: 1;
}

.product-tile-addition{
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.fa-arrow-right, .fa-arrow-left{
    height: 20px;
    width: 25px;
}

.fa-arrow-right:hover, .fa-arrow-left:hover{
    opacity: 0.7;
}

.cart-icon {
    bottom: 80px;
    right: 28px;
    position: fixed;
    float: right;
    z-index: 9999;
}

.cart-icon:hover {
    opacity: 0.5;
    color: #8a5401;
}

.cart-icon i {
    position: relative;
    background-color: #f6edcd;
    border-radius: 50%;
    color: #000000;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}
.badge {
    position: absolute;
    min-width: 22px;
    height: 20px;
}

.add-to-cart {
    display: inline-block;
    background-color: #8a5401;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-products {
    display: inline-block;
    background-color: #8a5401;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 110px;
}

.add-to-cart:hover {
    background-color: rgba(171, 120, 24, 0.85);
}

#cart-window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    z-index: 9999;
}

#cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8eab2;
    color: #000000;
    font-size: 1.2rem;
    padding: 1rem;
}

#cart-header button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0 5px;
}

#cart-content {
    padding: 1rem;
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
}

.product-name {
    flex-grow: 1;
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 1rem;
}

.product-quantity {
    font-size: 1.1rem;
    margin-right: 1rem;
}

.product-price {
    font-size: 1.1rem;
}

.product button {
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0 3px;
}

.product button:first-child {
    margin-right: 1rem;
}

.cart-total {
    margin-top: 1rem;
    text-align: right;
    font-weight: bold;
    font-size: 1.2rem;
}