<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/admin.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/main/home.css}">
    <link rel="stylesheet" type="text/css" href="../static/admin/admin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://kit.fontawesome.com/ea7c74f2a3.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>EasyStep - Zarzadzanie</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 sidepanel-container">
            <div class="sidepanel">
                <nav class="nav nav-tabs">
                    <a class="nav-link" href="#produkty" style="width: 100%">Zarządzanie produktami</a>
                    <a class="nav-link" href="#zamowienia" style="width: 100%">Zamówienia</a>
                    <a class="nav-link" href="#newsletter" style="width: 100%">Newsletter</a>
                </nav>
                <div id="produkty">
                    <p><a href="#" class="add-product">Dodaj produkt</a></p>
                    <p><a href="#" class="edit-product">Edytuj produkt</a></p>
                </div>
                <div id="newsletter">
                    <p><a href="#" class="send-newsletter">Wyslij newsletter</a></p>
                </div>
                <div id="zamowienia">
                    <p><a href="#" class="orders">Zobacz zamówienia</a></p>
                </div>
            </div>
        </div>
        <div class="form-container col-lg-6"></div>
    </div>
</div>


<script type="text/javascript" th:src="@{/admin/js/adminSidePanel.js}"></script>
<script type="text/javascript" th:src="@{/admin/js/showSelectedOption.js}"></script>
<script type="text/javascript" th:src="@{/admin/js/showNewsletter.js}"></script>
</body>
</html>