<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/main/home.css}">
    <link rel="stylesheet" type="text/css" href="../static/main/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://kit.fontawesome.com/ea7c74f2a3.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>EasyStep logowanie</title>
    <style>
        input{
            margin-top: 15px;
            margin-bottom: 15px;
        }
        body {
            background: linear-gradient(to bottom right, #F9EACD, #E6D5B8);
            background-size: 1000000px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li><a class="nav-link" href="/">Strona główna<span class="sr-only">(current)</span></a></li>
            <li><a class="nav-link" href="/products">Produkty</a></li>
            <li><a class="nav-link" href="/knowledgeBase">Baza wiedzy</a></li>
            <li><a class="nav-link" href="/services">Usługi</a></li>
            <li><a class="nav-link" href="/serviceOrder">Zamów usługę</a></li>
            <li><a class="nav-link" href="/personalizer">Konfigurator</a></li>
            <li th:unless="${isLoggedIn}">
                <a class="nav-link" href="/login">Zaloguj</a>
            </li>
            <li th:if="${isLoggedIn}" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Konto
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/profile">Profil</a>
                    <a class="dropdown-item" href="/logout" th:href="@{/logout}">Wyloguj</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container text-center col-lg-3" style="margin-top: 75px;">
    <div id="login-container">
        <form class="form-signin" th:action="@{/login}" method="post" id="login-form">
            <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>
            <label for="username" class="sr-only">Nazwa użytkownika</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Login" required autofocus>

            <label for="password" class="sr-only">Hasło</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Hasło" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>
            <p class="text-muted">&copy; EasyStep</p>
            <a href="#" id="forgot-password-link">Zapomniałem hasła</a>
        </form>

        <form class="form-signin" th:action="@{/forgotPassword}" method="post" id="forgot-password-form" style="display:none">
            <h1 class="h3 mb-3 font-weight-normal">Odzyskiwanie hasła</h1>
            <p>Wprowadź swój adres email, a wyślemy Ci link do zresetowania hasła.</p>
            <label for="emailToRemind" class="sr-only">Adres email</label>
            <input type="email" name="emailToRemind" id="emailToRemind" class="form-control" placeholder="Adres email" required autofocus>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Wyślij odnowienie hasła</button>
            <p class="text-muted">&copy; EasyStep</p>
            <a href="#" id="back-to-login-link">Powrót do logowania</a>

            <h3 class="alert-success error email-send" id="email-send" style="display: none; margin: 15px">Link do resetowania hasła został wysłany na podany adres email!</h3>
            <h3 class="alert-danger error email-noexists" style="display: none; margin: 15px">W systemie nie ma konta o podanym emailu!</h3>
        </form>
    </div>
    <div th:if="${param.error}">
        <p class="text-danger">Niepoprawny login lub hasło!</p>
    </div>

    <form class="form-signin" th:action="@{/register}" method="post" id="register-form" style="display: none">
        <h1 class="h3 mb-3 font-weight-normal">Zarejestruj się</h1>
        <label for="usernameToRegister" class="sr-only">Nazwa użytkownika</label>
        <input type="text" name="usernameToRegister" id="usernameToRegister" class="form-control" placeholder="Login" required autofocus>

        <label for="passwordToRegister" class="sr-only">Hasło</label>
        <input type="password" name="passwordToRegister" id="passwordToRegister" class="form-control" placeholder="Hasło" minlength="5" required>

        <label for="emailToRegister" class="sr-only">Email</label>
        <input type="email" name="emailToRegister" id="emailToRegister" class="form-control" placeholder="Email" required>

        <label for="newsletter">
            <input type="checkbox" name="newsletter" id="newsletter" value="true">
            Zapisz mnie do newslettera!
        </label>

        <div class="spinner-border text-primary mt-3 d-none" role="status"
             style="margin: 0 auto; text-align: center;">
            <span class="sr-only">Loading...</span>
        </div>

        <h3 class="error email-taken-error" style="display: none; margin: 15px">Email już jest zajęty!</h3>
        <h3 class="error login-taken-error" style="display: none; margin: 15px">Nazwa użytkownika już jest zajęta!</h3>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Stworz konto</button>
        <p class="text-muted">&copy; EasyStep</p>
    </form>
</div>

<div id="form-switcher">
    <p id="login-link" style="display: none">Masz już konto? <a href="#">Zaloguj się</a></p>
    <p id="register-link">Nie masz konta? <a href="#">Zarejestruj się tutaj!</a></p>
</div>


<script type="text/javascript" th:src="@{/login/showHideForms.js}"></script>
</body>
</html>